export(available_phage_palettes)
export(phage_palette)
export(phage_continuous_palette)
export(phage_diverging_palette)
export(phage_large_palette)
export(phage_collapse_tail)
export(scale_color_continuous_phage)
export(scale_colour_continuous_phage)
export(scale_fill_continuous_phage)
export(scale_color_diverging_phage)
export(scale_colour_diverging_phage)
export(scale_fill_diverging_phage)
export(scale_color_phage)
export(scale_fill_phage)
export(theme_phage)
